  <div class="book-body row">
    <div class="book-image">
      <img class="card-img-top" *ngIf="(book$ | async).volumeInfo.imageLinks.thumbnail.length>5"
           [src]="(book$ | async).volumeInfo.imageLinks.thumbnail"
           alt="Card image cap">
      <img class="card-img-top" *ngIf="!(book$ | async).volumeInfo.imageLinks.thumbnail || (book$ | async).volumeInfo.imageLinks.thumbnail == ' '"
           src="https://upload.wikimedia.org/wikipedia/commons/b/b9/No_Cover.jpg"
           alt="Card image cap">
      <section class="numbers-info">
        <p class="authors">Published: {{(book$ | async).volumeInfo.publishedDate | date:'YYYY'}}</p>
        <p class="authors">Pages: {{(book$ | async).volumeInfo.pageCount}}.</p>
        <p class="authors">ISBN: {{(book$ | async).volumeInfo.industryIdentifiers[0].identifier}}</p>
        <button class="btn btn-outline-primary border-0" [disabled]="(book$ | async).inWishlist" (click)="addToWishlist()">
          <span *ngIf="!(book$ | async).inWishlist" class="wishlist add"><i class="far fa-heart"></i>Add to wishlist</span>
          <span *ngIf="(book$ | async).inWishlist" class="wishlist"><i class="fa fa-heart"></i>Added to wishlist</span>
        </button>
      </section>
    </div>
    <div class="book-info">
      <p class="description">{{(book$ | async).volumeInfo.description}}</p>
    </div>
  </div>

  <div *ngIf="isLoading" class="spinner-border text-info position-absolute top-50 end-50" role="status">
    <span class="sr-only">Loading...</span>
  </div>
