<div class="books-list col-12">
  <div class="book col-lg-6 col-md-6 col-sm-12" *ngFor="let book of books$ | async | paginate: {itemsPerPage: 4, currentPage: page}" (click)="openModal(template, book)">
    <app-book [book]="book" [isWishlist]="false"></app-book>
  </div>
</div>

<div class="pagination-container col-12">
<pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<div *ngIf="isLoading$ | async" class="spinner-border text-info position-absolute top-50 end-50" role="status">
  <span class="sr-only">Loading...</span>
</div>

<ng-template #template>
  <div class="modal-header flex-column align-items-start" *ngIf="(selectedBook$ | async) !== undefined">
    <h3 class="title">{{(selectedBook$ | async).volumeInfo?.title | booktitle | titlecase }}</h3>
    <h5 class="authors"> By: {{(selectedBook$ | async).volumeInfo?.authors}}.</h5>
    <button type="button" class="close btn-close position-absolute top-0 modal-close-btn" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-book-info [book$]="selectedBook$" (emitToWishlist)="addToWishlist()"></app-book-info>
  </div>
</ng-template>
